.alpackages/Microsoft_Base Application_25.0.23364.26558.app
.alpackages/Microsoft_Business Foundation_25.0.23364.24925.app
.alpackages/Microsoft_System Application_25.0.23364.24925.app
.alpackages/Microsoft_System_25.0.24557.0.app
.vscode/launch.json
app.json
